<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 4.07.2018, 00:18</p>
            <h2><a href="">My first post</a></h2>
            <p>hello my dear friend.</p>
        </div>

        <div>
            <p>published: 4.07.2018, 00:18</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi there!</p>
        </div>
    </body>
</html>